body {
  background-color: rgb(100, 124, 54);
}

.title,
.ingredients {
  text-align: center;
}

h1,
h2,
.ingredients {
  font-family: Impact, Charcoal, sans-serif;
  color: DarkGreen;
}

div {
  background-color: rgb(246, 226, 188);
  border: 2.5px solid black;
  padding: 6px;
}

#link {
  border: none;
  padding-left: 30px;
}

.top {
  margin-top: 30px;
}

.description {
  text-align: center;
}

.left {
  float: left;
  margin-top: 30px;
}

.right {
  width: 600px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

.video {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* Add CommentCollapse 

Jot something down */
